<a href="https://colab.research.google.com/github/Homedepot5/DataScience/blob/origin%2Ffeature%2Fdevelopment/DecesionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DecesionTree On Salaries.csv

In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from google.colab import files
import io
import matplotlib.pyplot as plt

In [3]:
uploaded=files.upload()

Saving Salaries_descesion_Tree.csv to Salaries_descesion_Tree.csv

In [5]:
df=pd.read_csv(io.BytesIO(uploaded['Salaries_descesion_Tree.csv']))
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [28]:
data=df.drop('salary_more_then_100k',axis=1)
data

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [11]:
target=df.salary_more_then_100k
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [14]:
dummies=pd.get_dummies(df.company)
dummies

    abc pharma  facebook  google
0            0         0       1
1            0         0       1
2            0         0       1
3            0         0       1
4            0         0       1
5            0         0       1
6            1         0       0
7            1         0       0
8            1         0       0
9            1         0       0
10           0         1       0
11           0         1       0
12           0         1       0
13           0         1       0
14           0         1       0
15           0         1       0

In [19]:
dx=pd.concat([data,dummies],axis=1)
dx

       company                  job     degree  abc pharma  facebook  google
0       google      sales executive  bachelors           0         0       1
1       google      sales executive    masters           0         0       1
2       google     business manager  bachelors           0         0       1
3       google     business manager    masters           0         0       1
4       google  computer programmer  bachelors           0         0       1
5       google  computer programmer    masters           0         0       1
6   abc pharma      sales executive    masters           1         0       0
7   abc pharma  computer programmer  bachelors           1         0       0
8   abc pharma     business manager  bachelors           1         0       0
9   abc pharma     business manager    masters           1         0       0
10    facebook      sales executive  bachelors           0         1       0
11    facebook      sales executive    masters           0         1       0
12    facebook     business manager  bachelors           0         1       0
13    facebook     business manager    masters           0         1       0
14    facebook  computer programmer  bachelors           0         1       0
15    facebook  computer programmer    masters           0         1       0

In [22]:
from sklearn.preprocessing import  LabelEncoder
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [ ]:
data_bac=data
data_bac

In [40]:
data.company=le_company.fit_transform(data.company)
data.company

0     2
1     2
2     2
3     2
4     2
5     2
6     0
7     0
8     0
9     0
10    1
11    1
12    1
13    1
14    1
15    1
Name: company, dtype: int64

In [41]:
data.job=le_job.fit_transform(data.job)
data.job

0     2
1     2
2     0
3     0
4     1
5     1
6     2
7     1
8     0
9     0
10    2
11    2
12    0
13    0
14    1
15    1
Name: job, dtype: int64

In [42]:
data.degree=le_job.fit_transform(data.degree)
data.degree

0     0
1     1
2     0
3     1
4     0
5     1
6     1
7     0
8     0
9     1
10    0
11    1
12    0
13    1
14    0
15    1
Name: degree, dtype: int64

In [43]:
data

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

In [34]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
model

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [44]:
data

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

In [45]:
model.fit(data,df['salary_more_then_100k'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [47]:
model.score(data,df.salary_more_then_100k)

1.0

In [49]:
model.predict([[2,2,1]])

array([0])