<a href="https://colab.research.google.com/github/Homedepot5/DataScience/blob/origin%2Ffeature%2Fdevelopment/NewYorkCity_Airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Airbnb data. set problem soluation

In [63]:
import pandas as pd
import numpy as np
from google.colab import files
import io

In [55]:
uploaded=files.upload()

Saving AB_NYC_2019 2.csv to AB_NYC_2019 2 (1).csv

In [80]:

df=pd.read_csv(io.BytesIO(uploaded['AB_NYC_2019.csv']))
df

KeyError: ignored

In [10]:
df.shape

(48895, 16)

In [11]:
df.describe()

                 id  ...  availability_365
count  4.889500e+04  ...      48895.000000
mean   1.901714e+07  ...        112.781327
std    1.098311e+07  ...        131.622289
min    2.539000e+03  ...          0.000000
25%    9.471945e+06  ...          0.000000
50%    1.967728e+07  ...         45.000000
75%    2.915218e+07  ...        227.000000
max    3.648724e+07  ...        365.000000

[8 rows x 10 columns]

In [ ]:
df.price

In [46]:
df.describe()

                 id       host_id  ...  availability_365  price_pernight
count  4.889500e+04  4.889500e+04  ...      48895.000000    48895.000000
mean   1.901714e+07  6.762001e+07  ...        112.781327       70.174247
std    1.098311e+07  7.861097e+07  ...        131.622289      157.620388
min    2.539000e+03  2.438000e+03  ...          0.000000        0.000000
25%    9.471945e+06  7.822033e+06  ...          0.000000       20.000000
50%    1.967728e+07  3.079382e+07  ...         45.000000       44.500000
75%    2.915218e+07  1.074344e+08  ...        227.000000       81.500000
max    3.648724e+07  2.743213e+08  ...        365.000000     8000.000000

[8 rows x 11 columns]

In [ ]:
df.sample(30)

In [50]:
min_threshold, max_threshold = df.price_pernight.quantile([0.01,.999])
min_threshold, max_threshold

(1.2333333333333334, 2000.0)

In [44]:
x=df[df['price_pernight']<min_threshold]

In [45]:
x.shape

(123, 17)

In [47]:
df2=df[(df.price_pernight>min_threshold)&(df.price_pernight<max_threshold)]
df2.shape

(36546, 17)

In [48]:
df2.describe()

                 id       host_id  ...  availability_365  price_pernight
count  3.654600e+04  3.654600e+04  ...      36546.000000    36546.000000
mean   1.874839e+07  6.370214e+07  ...        109.586494       33.709388
std    1.083755e+07  7.502093e+07  ...        130.526425       22.649345
min    3.647000e+03  2.438000e+03  ...          0.000000        0.544444
25%    9.488927e+06  7.377615e+06  ...          0.000000       13.750000
50%    1.936490e+07  2.909656e+07  ...         40.000000       31.333333
75%    2.848410e+07  1.016187e+08  ...        217.000000       50.000000
max    3.648724e+07  2.743213e+08  ...        365.000000       81.333333

[8 rows x 11 columns]

In [49]:
df2.sample(10)

             id  ... price_pernight
18343  14388889  ...           15.0
33716  26719426  ...           60.0
38658  30376977  ...            1.4
4542    3157330  ...           75.0
21006  16637954  ...           70.0
35370  28052259  ...           75.0
5583    4055732  ...           40.0
18028  14120153  ...           48.0
56        14991  ...           22.0
41794  32495242  ...           10.0

[10 rows x 17 columns]

2nd. sample

In [68]:

df=pd.read_csv(io.BytesIO(uploaded['AB_NYC_2019_22.csv']))
df

KeyError: ignored