<a href="https://colab.research.google.com/github/Homedepot5/DataScience/blob/deeplearning/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd



df=pd.read_excel("stock_data1.xlsx",converters={
   "people": convert_people
})
df

  tickers            eps  revenue price people
0   GOOGL          27.82       87   845   None
1     WMT           4.61      484    65  sunil
2    MSFT             -1       85    64   None
3    RILÂ   not available       50  1023   None
4    TATA            5.6       -1  n.a.   None

In [5]:
def convert_people(cell):
  if cell=="n.a.":
    return "sunil"

In [6]:
df.to_excel("new.xlsx",sheet_name="stocks")

In [16]:
dx=pd.read_csv("weather_data.csv",parse_dates=['day'])
type(dx.day[0])
dx

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [17]:
newdx=dx.fillna(0)
newdx

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          0.0        9.0   Sunny
2 2017-01-05         28.0        0.0    Snow
3 2017-01-06          0.0        7.0       0
4 2017-01-07         32.0        0.0    Rain
5 2017-01-08          0.0        0.0   Sunny
6 2017-01-09          0.0        0.0       0
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [19]:
newdx=dx.fillna(method ='ffill')
newdx

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         32.0        9.0   Sunny
2 2017-01-05         28.0        9.0    Snow
3 2017-01-06         28.0        7.0    Snow
4 2017-01-07         32.0        7.0    Rain
5 2017-01-08         32.0        7.0   Sunny
6 2017-01-09         32.0        7.0   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [20]:
new_df=dx.interpolate()
new_df

         day  temperature  windspeed   event
0 2017-01-01    32.000000       6.00    Rain
1 2017-01-04    30.000000       9.00   Sunny
2 2017-01-05    28.000000       8.00    Snow
3 2017-01-06    30.000000       7.00     NaN
4 2017-01-07    32.000000       7.25    Rain
5 2017-01-08    32.666667       7.50   Sunny
6 2017-01-09    33.333333       7.75     NaN
7 2017-01-10    34.000000       8.00  Cloudy
8 2017-01-11    40.000000      12.00   Sunny

In [21]:
pd.read_csv("weather_data1.csv")

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17       -99999          7  Sunny
2  01/03/17           28     -99999   Snow
3  01/04/17       -99999          7      0
4  01/05/17           32     -99999   Rain
5  01/06/17           31          2  Sunny
6  01/06/17           34          5      0

In [22]:
dfx = pd.DataFrame({
    'score': ['exceptional','average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
})
dfx

         score  student
0  exceptional      rob
1      average     maya
2         good  parthiv
3         poor      tom
4      average   julian
5  exceptional    erica

In [23]:
dfx.replace(['poor', 'average', 'good', 'exceptional'], [1,2,3,4])

   score  student
0      4      rob
1      2     maya
2      3  parthiv
3      1      tom
4      2   julian
5      4    erica

Group By

In [25]:
import pandas as pd
df = pd.read_csv("weather_by_cities.csv")
df

         day      city  temperature  windspeed   event
0   01/01/17  new york           32          6    Rain
1   01/02/17  new york           36          7   Sunny
2   01/03/17  new york           28         12    Snow
3   01/04/17  new york           33          7   Sunny
4   01/01/17    mumbai           90          5   Sunny
5   01/02/17    mumbai           85         12     Fog
6   01/03/17    mumbai           87         15     Fog
7   01/04/17    mumbai           92          5    Rain
8   01/01/17     paris           45         20   Sunny
9   01/02/17     paris           50         13  Cloudy
10  01/03/17     paris           54          8  Cloudy
11  01/04/17     paris           42         10  Cloudy

In [ ]:
g=df.groupby('city')
g

In [27]:
for city , data in g:
  print('city:', city)
  print("\n")
  print('data',data)

city: mumbai


data         day    city  temperature  windspeed  event
4  01/01/17  mumbai           90          5  Sunny
5  01/02/17  mumbai           85         12    Fog
6  01/03/17  mumbai           87         15    Fog
7  01/04/17  mumbai           92          5   Rain
city: new york


data         day      city  temperature  windspeed  event
0  01/01/17  new york           32          6   Rain
1  01/02/17  new york           36          7  Sunny
2  01/03/17  new york           28         12   Snow
3  01/04/17  new york           33          7  Sunny
city: paris


data          day   city  temperature  windspeed   event
8   01/01/17  paris           45         20   Sunny
9   01/02/17  paris           50         13  Cloudy
10  01/03/17  paris           54          8  Cloudy
11  01/04/17  paris           42         10  Cloudy

In [28]:
g.max()

               day  temperature  windspeed  event
city
mumbai    01/04/17           92         15  Sunny
new york  01/04/17           36         12  Sunny
paris     01/04/17           54         20  Sunny

Pivot and Pivot table

In [30]:
df1 = pd.read_csv("weather1.csv")
df1

       date      city  temperature  humidity
0  05/01/17  new york           65        56
1  05/02/17  new york           66        58
2  05/03/17  new york           68        60
3  05/01/17    mumbai           75        80
4  05/02/17    mumbai           78        83
5  05/03/17    mumbai           82        85
6  05/01/17   beijing           80        26
7  05/02/17   beijing           77        30
8  05/03/17   beijing           79        35

In [33]:
df1.pivot(index="date",columns="city")

         temperature                 humidity
city         beijing mumbai new york  beijing mumbai new york
date
05/01/17          80     75       65       26     80       56
05/02/17          77     78       66       30     83       58
05/03/17          79     82       68       35     85       60

In [36]:
pip install PyMySQL

Collecting PyMySQL
  Downloading https://files.pythonhosted.org/packages/1a/ea/dd9c81e2d85efd03cfbf808736dd055bd9ea1a78aea9968888b1055c3263/PyMySQL-0.10.1-py2.py3-none-any.whl (47kB)
     |ââââââââââââââââââââââââââââââââ| 51kB 1.6MB/s
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.10.1

In [37]:
import sqlalchemy

In [49]:
pip install python3-dev default-libmysqlclient-dev

ERROR: Could not find a version that satisfies the requirement python3-dev (from versions: none)
ERROR: No matching distribution found for python3-dev

In [50]:
engine=sqlalchemy.create_engine('mysql+pymysql://root:root@123@127.0.0.1:3306/CRISTALAI')
engine

Engine(mysql+pymysql://root:***@127.0.0.1:3306/CRISTALAI)

In [51]:
ds = pd.read_sql_table('notes',engine)

OperationalError: ignored